
<ion-content padding>
  <ion-card>
    <ion-card-header>
      login form
    </ion-card-header>
    <ion-card-content>
      <ion-list no-line>
        <ion-item>
          <ion-input input="text" placeholder="User Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input input="password" placeholder="Password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button ion-button block outlike color="light">login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>